   
{% extends "base.html" %}
{% block content %}
<h1>Itäjärvi / 9.9.2017 17:00:00</h1>

<!-- HUOM: Näkymä ei käytössä, yhdistetty paikkanäkymään. -->
<button class="btn btn-danger">Näkymä on käyttäjäkohtainen ja edellyttää kirjautumista</button>
<p>Tähän tulee Googlemapsin pieni karttaikkuna, jossa näytetään tämä paikka. Ei toimi vielä, työn alla.</p>
<ul>
    <li><strong>P: </strong> 61.707724</li>
    <li><strong>I: </strong> 25.705254</li>
</ul>
<h2>Marjat</h2>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Marja</th>
            <th>Poimittu määrä (kg)</th>
            <th>Kommentti</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mustikka</td>
            <td>1.0</td>
            <td>Taivaallisen hyviä, kypsiä mustikoita!</td>
            <td><button class="btn btn-primary">Muokkaa</button></td>
        </tr>
        <tr>
            <td>Puolukka</td>
            <td>0.0</td>
            <td>Vähän olivat raakoja vielä. En poiminut.</td>
            <td><button class="btn btn-primary">Muokkaa</button></td>
        </tr>
        <tr>
            <td>Kanttarelli</td>
            <td>2.0</td>
            <td>Isoja sieniä oli, oikein kunnon esiintymä mäen itäsivulla.</td>
            <td><button class="btn btn-primary">Muokkaa</button></td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary">Lisää marjamerkintä</button>

{% endblock %}
