   
{% extends "base.html" %}
{% block content %}
<h1>Marjatilasto</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Marja</th>
            <th>Poimittu määrä (kg) kuluva vuosi</th>
            <th>Poimittu määrä (kg) koko historia</th>
            <th>Poimineiden marjastajien lkm kuluva vuosi</th>
            <th>Poimineiden marjastajien lkm koko historia</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Puolukka</td>
            <td>150.5</td>
            <td>330.8</td>
            <td>10</td>
            <td>15</td>
        </tr>
        <tr>
            <td>Mustikka</td>
            <td>50.8</td>
            <td>200.0</td>
            <td>5</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Kanttarelli</td>
            <td>20.5</td>
            <td>80.0</td>
            <td>4</td>
            <td>7</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary">Lisää uusi marja</button>
{% endblock %}
