   
{% extends "base.html" %}
{% block content %}

<h1>Jaakon marjapaikat </h1>

<button class="btn btn-danger">Näkymä on käyttäjäkohtainen ja edellyttää kirjautumista</button>
<!-- Tähän pitäisi saada Googlemaps-karttaikkuna. Ei vielä toimi. Työn alla. Alla oleva scripti ei vielä toimi. Käytetään placeholder-kuvaa -->
<div id="map"></div>

<p>Tähän tulee Googlemapsin karttaikkuna, jossa paikkoja selaillaan. Ei toimi vielä, työn alla. Käytetään placeholder-kuvaa</p>
<img src="{{base_path}}/assets/images/esimerkkipaikka_gmaps.png" alt="Esimerkkikarttakuva">

<button class="btn btn-primary">Lisää uusi paikka</button>


<script>
    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(51.508742, -0.120850),
            zoom: 5,
        };
        var map = new google.maps.Map(document.getElementById("map"), mapProp);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL0wY9vQo3WSVsc0cnedWrjtjO9HLlo0g&callback=initMap"
async defer></script>



{% endblock %}
