#main-container{
    max-width: 1200px;
    padding: 10px 25px;
    margin: 0px auto;
}

.navbar .container-fluid{
    max-width: 1200px;
    margin: 0px auto;
}

#map {
    width:100%;
    height:600px;
}

#mapSmall {
    width:50%;
    height:200px;
}

img {
    width: 90%;
    padding: 20px;
}

div.table 
{
    display:table;
}
form.tr, div.tr
{
    display:table-row;
}
span.td
{
    display:table-cell;
    padding: 3px 5px;
}

form.td
{
    display:table-cell;
    padding: 3px 5px;
}