   
{% extends "base.html" %}
{% block content %}
<h1>{{marja.nimi}}</h1>
<ul>
    <li><strong>Poimittu määrä (kg) kuluva vuosi: </strong>{{marjanMaaraKuluvaVuosi}} kg</li>
    <li><strong>Poimittu määrä (kg) koko historia: </strong>{{marjanMaaraKokoHistoria}} kg</li>
    <li><strong>Poimineiden marjastajien lkm kuluva vuosi: </strong> {{poimineetKayttajatLkmKuluvaVuosi}}</li>
    <li><strong>Poimineiden marjastajien lkm koko historia: </strong>{{poimineetKayttajatLkmKokoHistoria}}</li>    
</ul>
<h2>Käyttäjät, joiden suosikki tämä marja on</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nimi</th>
        </tr>
    </thead>
    <tbody>
        {% for kayttaja in suosikkikayttajat %}
        <tr>
            <td>{{kayttaja.etunimi}} {{kayttaja.sukunimi}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Kärkipoimijat kuluvana vuonna</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Poimittu määrä (kg) kuluva vuosi</th>
        </tr>
    </thead>
    <tbody>
<!--        {% for poimija in marjanTopPoimijat %}
        <tr>
            <td>{{poimija->etunimi}} {{poimija->sukunimi}}</td>
            <td>{{poimija->saaliinMaara}}</td>
        </tr>
        {% endfor %}-->
    </tbody>
</table>
{% endblock %}
