   
{% extends "base.html" %}
{% block content %}
<h1>{{marja.nimi}}</h1>
<ul>
    <li><strong>Poimittu määrä (kg) kuluva vuosi: </strong> 50.8 kg</li>
    <li><strong>Poimittu määrä (kg) koko historia: </strong> 200.0 kg</li>
    <li><strong>Poimineiden marjastajien lkm kuluva vuosi: </strong> 5</li>
    <li><strong>Poimineiden marjastajien lkm koko historia: </strong> 7</li>    
</ul>
<h2>Kärkipoimijat</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Poimittu määrä (kg) kuluva vuosi</th>
            <th>Poimittu määrä (kg) koko historia</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jaakko Arhippa</td>
            <td>20.0</td>
            <td>40.0</td>
        </tr>
        <tr>
            <td>Kati Sademies</td>
            <td>15.0</td>
            <td>30.0</td>
        </tr>
        <tr>
            <td>Tero Tatti</td>
            <td>2.0</td>
            <td>2.0</td>
        </tr>
    </tbody>
</table>
{% endblock %}
