{% import "macros/forms.html" as forms %}   
{% extends "base.html" %}
{% block content %}
<h1 id="marjannimi">{{marjatiedot.marja.nimi}}</h1>
{% if user_logged_in %}
    <a href="{{base_path}}/marja/{{marjatiedot.marja.id}}/rename" class="btn btn-primary" >Muokkaa nimeä</a>
    {{forms.delete_button("#{base_path}/marja/#{marjatiedot.marja.id}/delete")}}
{% endif %}

{% block muokkaaMarjaa %}
{% endblock %}

<ul>
    <li><strong>Poimittu määrä (kg) kuluva vuosi: </strong>{{marjatiedot.marjanMaaraKuluvaVuosi}} kg</li>
    <li><strong>Poimittu määrä (kg) koko historia: </strong>{{marjatiedot.marjanMaaraKokoHistoria}} kg</li>
    <li><strong>Poimineiden marjastajien lkm kuluva vuosi: </strong> {{marjatiedot.poimineetKayttajatLkmKuluvaVuosi}}</li>
    <li><strong>Poimineiden marjastajien lkm koko historia: </strong>{{marjatiedot.poimineetKayttajatLkmKokoHistoria}}</li>    
</ul>
<h2>Käyttäjät, joiden suosikki tämä marja on</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nimi</th>
        </tr>
    </thead>
    <tbody>
        {% for kayttaja in marjatiedot.suosikkikayttajat %}
        <tr>
            <td>{{kayttaja.etunimi}} {{kayttaja.sukunimi}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Kärkipoimijat kuluvana vuonna</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Poimittu määrä (kg) kuluva vuosi</th>
        </tr>
    </thead>
    <tbody>
        {% for poimija in marjatiedot.marjanTopPoimijat %}
        <tr>
            <td>{{poimija.etunimi}} {{poimija.sukunimi}}</td>
            <td>{{poimija.saalis}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
