   
{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
<h1>Marjatilasto</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Marja</th>
            <th>Poimittu määrä (kg) kuluva vuosi</th>
            <th>Poimittu määrä (kg) koko historia</th>
            <th>Poimineiden marjastajien lkm kuluva vuosi</th>
            <th>Poimineiden marjastajien lkm koko historia</th>
        </tr>
    </thead>

    <tbody>
        {% for marja in marjadata %}
        <tr>
            <td><a href="{{base_path}}/marja/{{marja[0]}}">{{marja[1]}}</td>
            <td>{{marja[2]}}</td>
            <td>{{marja[3]}}</td>
            <td>{{marja[4]}}</td>
            <td>{{marja[5]}}</td>
        </tr>
        {% endfor %}
        {% block lisaaMarja %}
        {% endblock %}
    </tbody>
</table>
<a href="{{base_path}}/marjat/new" class="btn btn-primary" >Lisää uusi marja</a>
{% endblock %}
