{% import "macros/forms.html" as forms %}         
{% extends "/marja/marjat.html" %}
{% block lisaaMarja %}

<tr>
    <td>
        <form method="post" action="{{base_path}}/marjat/tallennaUusi" style="display: inline-block;">
            <div class="form-group">
                <label>Uusi marja</label>
                <input name="nimi" class="form-control" value="{{attributes.nimi}}" type="text">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Tallenna</button>
            </div>
        </form>
    </td>
    <td>{{forms.undo_button("#{base_path}/")}} </td>
    <td></td>
    <td></td>
    <td></td>
</tr>
{% endblock %}
