   
{% extends "/paikka/paikka.html" %}
{% block muokkaaKaynti %}
<h3>Käynnin muokkaus</h3>
<div class="table">
    <form class="tr" method="post" action="{{base_path}}/marjastaja/{{marjastaja.id}}/paikat/{{paikkatiedot.paikka.id}}/kaynti/{{kaynti.id}}/muokkaa">
        <span class="td"><input type="date" name="pvm" value="{{attributes.pvm}}"></span>
        <span class="td"><input type="time" name="kellonaika" value="{{attributes.kellonaika}}"></span>
        <span class="td"><button type="submit" class="btn btn-success">Tallenna</button></span>
        <span class="td"><a href="{{base_path}}/marjastaja/{{marjastaja.id}}/paikat/{{paikkatiedot.paikka.id}}" class="btn btn-default">Peru</a></span>
    </form>
</div>

{% endblock %}