   
{% extends "base.html" %}
{% block content %}
<h1>{{paikka.nimi}}</h1>
<button class="btn btn-danger">Näkymä on käyttäjäkohtainen ja edellyttää kirjautumista</button>

<div id="mapSmall"></div>


<ul>
    <li><strong>Marjastaja: </strong> N.N.</li>
    <li><strong>P: </strong> {{paikka.p}}</li>
    <li><strong>I: </strong> {{paikka.i}}</li>
</ul>
<button class="btn btn-primary">Muokkaa koordinaatteja</button>
<button class="btn btn-danger">Poista paikka</button>
<h2>Käynnit</h2>
<table>

    <tbody>
        <tr>
            <td>
                <strong>9.9.2017 17:00:00</strong>
                <button class="btn btn-primary">Muokkaa</button>
                <button class="btn btn-danger">Poista</button>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Marja</th>
                            <th>Poimittu määrä (kg)</th>
                            <th>Kommentti</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mustikka</td>
                            <td>1.0</td>
                            <td>Taivaallisen hyviä, kypsiä mustikoita!</td>
                            <td><button class="btn btn-primary">Muokkaa</button>
                            <button class="btn btn-danger">Poista</button></td>
                        </tr>
                        <tr>
                            <td>Puolukka</td>
                            <td>0.0</td>
                            <td>Vähän olivat raakoja vielä. En poiminut.</td>
                            <td><button class="btn btn-primary">Muokkaa</button>
                            <button class="btn btn-danger">Poista</button></td>
                        </tr>
                        <tr>
                            <td>Kanttarelli</td>
                            <td>2.0</td>
                            <td>Isoja sieniä oli, oikein kunnon esiintymä mäen itäsivulla.</td>
                            <td><button class="btn btn-primary">Muokkaa</button>
                            <button class="btn btn-danger">Poista</button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button class="btn btn-primary">Lisää marjamerkintä</button></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <strong>10.9.2017 16:00:00</strong>
                <button class="btn btn-primary">Muokkaa</button>
                <button class="btn btn-danger">Poista</button>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Marja</th>
                            <th>Poimittu määrä (kg)</th>
                            <th>Kommentti</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mustikka</td>
                            <td>2.0</td>
                            <td>Edelleen paljon mustikoita. Jatkoin edellisen päivän perään.</td>
                            <td><button class="btn btn-primary">Muokkaa</button>
                            <button class="btn btn-danger">Poista</button></td>
                        </tr>
                        <tr>
                            <td>Puolukka</td>
                            <td>0.1</td>
                            <td>Edelleen vähän raakoja, otin pienen testierän.</td>
                            <td><button class="btn btn-primary">Muokkaa</button>
                            <button class="btn btn-danger">Poista</button></td>
                        </tr>
                        <tr>
                            <td>Kanttarelli</td>
                            <td>0.0</td>
                            <td>En löytänyt enempää.</td>
                            <td><button class="btn btn-primary">Muokkaa</button>
                            <button class="btn btn-danger">Poista</button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button class="btn btn-primary">Lisää marjamerkintä</button></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary">Lisää uusi käynti</button>

<script>
    function initMap() {
        var mapProp = {
            center: new google.maps.LatLng(60.204558, 24.961813),
            zoom: 12,
        };

        var map = new google.maps.Map(document.getElementById("mapSmall"), mapProp);

        var markerinSijainti = {lat: 60.204558, lng: 24.961813};
        var marker = new google.maps.Marker({position: markerinSijainti, map: map, title: 'Marjapaikka A'});
        var infowindow = new google.maps.InfoWindow({
            content: "{{paikka.nimi}}"
        });


        infowindow.open(map, marker);

    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL0wY9vQo3WSVsc0cnedWrjtjO9HLlo0g&callback=initMap"
async defer></script>

{% endblock %}
