   
{% extends "base.html" %}
{% block content %}

<h1>{{marjastaja.etunimi}}n marjapaikat</h1>

<button class="btn btn-danger">Näkymä on käyttäjäkohtainen ja edellyttää kirjautumista</button>

<div id="map"></div>

<button class="btn btn-primary">Lisää uusi paikka</button>


<div style="display: none;" id="paikat">

{% for i in 0..sizeof({{paikat}}) %}
    echo '<span id="paikat.'.i.'">'.{{paikat[i]}}.'</span>';
{% endfor %}

</div>

<script>
    function initMap() {
        var mapProp = {
            center: new google.maps.LatLng("{{paikat[0].p}}", "{{paikat[0].i}}"),
            zoom: 12,
        };
        var map = new google.maps.Map(document.getElementById("map"), mapProp);
        var markerinSijainti = {lat: "{{paikka.p}}", lng: "{{paikka.i}}"};
        var marker = new google.maps.Marker({position: markerinSijainti, map: map, title: '{{paikka.nimi}}'});

        google.maps.event.addListener(map, 'click', function (event) {
            lisaaMerkki(map, event.latLng);
        });
    }


    function lisaaMerkki(map, location) {
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
        var infowindow = new google.maps.InfoWindow({
            content: 'Latitude: ' + location.lat() +
                    '<br>Longitude: ' + location.lng()
        });
        infowindow.open(map, marker);
    }

</script>






<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL0wY9vQo3WSVsc0cnedWrjtjO9HLlo0g&callback=initMap"
async defer></script>



{% endblock %}
