{% import "macros/forms.html" as forms %}      
{% extends "base.html" %}
{% block content %}
<h1>{{paikkatiedot.paikka.nimi}}</h1>
<button class="btn btn-danger">Paikan muokkaus ja poisto toteutettu. Käyntien ja marjasaaliiden toimintoja ei vielä toteutettu.</button>

<div id="mapSmall"></div>


<ul>
    <li><strong>Marjastaja: </strong>{{marjastaja.etunimi}} {{marjastaja.sukunimi}}</li>
    <li><strong>P: </strong> {{paikkatiedot.paikka.p}}</li>
    <li><strong>I: </strong> {{paikkatiedot.paikka.i}}</li>
</ul>

{% block muokkaaPaikka %}
{% endblock %}

{{forms.edit_button("#{base_path}/marjastaja/#{marjastaja.id}/paikat/#{paikkatiedot.paikka.id}/muokkaa")}}
{{forms.delete_button("#{base_path}/marjastaja/#{marjastaja.id}/paikat/#{paikkatiedot.paikka.id}/poista", "Poista paikka")}}
<!--<button class="btn btn-primary">Muokkaa</button>
<button class="btn btn-danger">Poista paikka</button>-->
<h2>Käynnit</h2>
<table>

    <tbody>
        {% for kaynti in paikkatiedot.kaynnitJaSaaliit %}
        <tr>
            <td>
                <strong>{{kaynti.pvm}} {{kaynti.kellonaika}}</strong>

                {{forms.edit_button("#{base_path}/marjastaja/#{marjastaja.id}/paikat/#{paikkatiedot.paikka.id}/kaynti/#{kaynti.id}/muokkaa")}}
                {{forms.delete_button("#{base_path}/marjastaja/#{marjastaja.id}/paikat/#{paikkatiedot.paikka.id}/kaynti/#{kaynti.id}/poista")}}
                {% block muokkaaKaynti %}
                {% endblock %}
                <!--            <button class="btn btn-primary">Muokkaa</button>
                                <button class="btn btn-danger">Poista</button>-->
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Marja</th>
                            <th>Poimittu määrä (kg)</th>
                            <th>Kommentti</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for marjasaalis in kaynti.marjasaaliit %}
                        <tr>
                            <td>{{kaynti.marjat[loop.index0]}}</td> 
                            <td>{{marjasaalis.maara}}</td>
                            <td>{{marjasaalis.kuvaus}}</td>
                            <td>{{forms.edit_button("#{base_path}/marjastaja/#{marjastaja.id}/paikat/#{paikkatiedot.paikka.id}/kaynti/#{kaynti.id}/saalis/#{marjasaalis.marja_id}/muokkaa")}}
                                {{forms.delete_button("#{base_path}/marjastaja/#{marjastaja.id}/paikat/#{paikkatiedot.paikka.id}/kaynti/#{kaynti.id}/saalis/#{marjasaalis.marja_id}/poista")}}</td>
                        </tr>
                        {% endfor %}
                        
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="{{base_path}}/marjastaja/{{marjastaja.id}}/paikat/{{paikkatiedot.paikka.id}}/kaynti/{{kaynti.id}}/saalis/uusi" class="btn btn-primary" >Lisää marjamerkintä</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% block lisaaSaalis %}
                {% endblock %}
            </td>
        </tr>
        {% endfor %}
        {% block lisaaKaynti %}
        {% endblock %}
    </tbody>
</table>
<a href="{{base_path}}/marjastaja/{{marjastaja.id}}/paikat/{{paikkatiedot.paikka.id}}/kaynti/uusi" class="btn btn-primary" >Lisää uusi käynti</a>

<script>


    function initMap() {
    var mapProp = {
    center: new google.maps.LatLng({{paikkatiedot.paikka.p}}, {{paikkatiedot.paikka.i}}),
            zoom: 12,
    };
    var map = new google.maps.Map(document.getElementById("mapSmall"), mapProp);
    var markerinSijainti = {lat: {{paikkatiedot.paikka.p}}, lng: {{paikkatiedot.paikka.i}}};
    var marker = new google.maps.Marker({position: markerinSijainti, map: map, title: '{{paikkatiedot.paikka.nimi}}'});
    var infowindow = new google.maps.InfoWindow({
    content: "{{paikkatiedot.paikka.nimi}}"
    });
    infowindow.open(map, marker);
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL0wY9vQo3WSVsc0cnedWrjtjO9HLlo0g&callback=initMap"
async defer></script>

{% endblock %}
