{% import "macros/forms.html" as forms %}      
{% extends "base.html" %}
{% block content %}
<h1>{{paikkatiedot.paikka.nimi}}</h1>

<div id="mapSmall"></div>


<ul>
    <li><strong>Marjastaja: </strong>{{marjastaja.etunimi}} {{marjastaja.sukunimi}}</li>
    <li><strong>P: </strong> {{paikkatiedot.paikka.p}}</li>
    <li><strong>I: </strong> {{paikkatiedot.paikka.i}}</li>
</ul>

{% block muokkaaPaikka %}
{% endblock %}
<div>
    {{forms.edit_button("#{base_path}/marjastaja/#{marjastaja.id}/paikat/#{paikkatiedot.paikka.id}/muokkaa")}}
    {{forms.delete_button("#{base_path}/marjastaja/#{marjastaja.id}/paikat/#{paikkatiedot.paikka.id}/poista", "Poista paikka")}}
</div>
<!--<button class="btn btn-primary">Muokkaa</button>
<button class="btn btn-danger">Poista paikka</button>-->
<h2>Käynnit</h2>
{% block lisaaKaynti %}
{% endblock %}
<div>
    <a href="{{base_path}}/marjastaja/{{marjastaja.id}}/paikat/{{paikkatiedot.paikka.id}}/kaynti/uusi" class="btn btn-primary" >Lisää uusi käynti</a>
</div>
<table>
    <tbody>
        {% for kaynti in paikkatiedot.kaynnitJaSaaliit %}
        <tr>
            <td>
                {% if muokattavanKaynninNro and muokattavanKaynninNro == loop.index0 %}
                    {% block muokkaaKaynti %}
                    {% endblock %}
                {% else %}
                    <h3>{{kaynti.pvm}} {{kaynti.kellonaika}}</h3>
                    {{forms.edit_button("#{base_path}/marjastaja/#{marjastaja.id}/paikat/#{paikkatiedot.paikka.id}/kaynti/#{kaynti.id}/muokkaa")}}
                    {{forms.delete_button("#{base_path}/marjastaja/#{marjastaja.id}/paikat/#{paikkatiedot.paikka.id}/kaynti/#{kaynti.id}/poista")}}
                {% endif %}
                <div class="table">

                    <div class="tr">
                        <span class="td"><strong>Marja</strong></span>
                        <span class="td"><strong>Määrä (kg)</strong></span>
                        <span class="td"><strong>Kommentti</strong></span>
                        <span class="td"></span>
                        <span class="td"></span>
                    </div>

                    {% for marjasaalis in kaynti.marjasaaliit %}

                        {% if marjasaalis.marja_id == saalisJotaMuokataan.marja_id and marjasaalis.kaynti_id == saalisJotaMuokataan.kaynti_id %}
                            {% block muokkaaSaalis %}
                            {% endblock %}
                        {% else %}
                            <div class="tr">
                                <span class="td">{{kaynti.marjat[loop.index0]}}</span>
                                <span class="td">{{marjasaalis.maara}}</span>
                                <span class="td">{{marjasaalis.kuvaus}}</span>
                                <span class="td">{{forms.edit_button("#{base_path}/marjastaja/#{marjastaja.id}/paikat/#{paikkatiedot.paikka.id}/kaynti/#{kaynti.id}/saalis/#{marjasaalis.marja_id}/muokkaa")}}
                                {{forms.delete_button("#{base_path}/marjastaja/#{marjastaja.id}/paikat/#{paikkatiedot.paikka.id}/kaynti/#{kaynti.id}/saalis/#{marjasaalis.marja_id}/poista")}}</span>
                                <span class="td"></span>
                            </div>
                        {% endif %}
                    
                    {% endfor %}
                    {% block lisaaSaalis %}
                    {% endblock %}
                    <div class="tr">
                        <span class="td"></span>
                        <span class="td"></span>
                        <span class="td"></span>
                        <span class="td"><a href="{{base_path}}/marjastaja/{{marjastaja.id}}/paikat/{{paikkatiedot.paikka.id}}/kaynti/{{kaynti.id}}/saalis/uusi" class="btn btn-primary" >Lisää marjamerkintä</a></span>
                        <span class="td"></span>
                    </div>
            
                </div>
                
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>


<script>


    function initMap() {
    var mapProp = {
    center: new google.maps.LatLng({{paikkatiedot.paikka.p}}, {{paikkatiedot.paikka.i}}),
            zoom: 12,
    };
    var map = new google.maps.Map(document.getElementById("mapSmall"), mapProp);
    var markerinSijainti = {lat: {{paikkatiedot.paikka.p}}, lng: {{paikkatiedot.paikka.i}}};
    var marker = new google.maps.Marker({position: markerinSijainti, map: map, title: '{{paikkatiedot.paikka.nimi}}'});
    var infowindow = new google.maps.InfoWindow({
    content: "{{paikkatiedot.paikka.nimi}}"
    });
    infowindow.open(map, marker);
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL0wY9vQo3WSVsc0cnedWrjtjO9HLlo0g&callback=initMap"
async defer></script>

{% endblock %}
